@import url('https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'poppins', sans-serif;
    
}

body {
    min-height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: xxx-large;
}

h2 {
    font-size: xx-large;
}

h3 {
    font-size: x-large;
}

p {
    font-size: large;
    line-height: 2rem;
    color: #C4C5DE;
}


.container {
    width: 100%;
    background-color: #0B0640;
    position: relative;
    z-index: 0;
}


.nav {
    display: flex;
    flex-wrap: wrap;
    position: fixed;
    width: 100%;
    padding-left: 100px;
    padding-right: 100px;
    height: 10vh;
    align-items: center;
    justify-content: center;
    background-color: #0B0640;
    z-index: 100;
}

.nav .nav1 {
    position: relative;
    display: flex;
    width: 50%;
    height: 10vh;
    animation: slideRight 1s ease forwards;
}

.nav .nav1 .logo {
    position: relative;
    padding: 10px;
    cursor: pointer;
}


.nav2 {
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    align-items: center;
    justify-content: space-between;
    
}

.nav2 a {
    color: #ededed;
    font-size: 20px;
    text-decoration: none;
    animation: slideLeft .5s ease forwards;
    animation-delay: calc(.2s * var(--i));
}



.nav2 a:hover {
    color: #FF3E7E;
}

.text {
    padding: 10px;
    color: #fff;
}

.section {
    width: 100%;
    height: 100vh;
}

.content1 {
    display: flex;

}

.home1 {
    display: flex;
    width: 50%;
    justify-content: center;
    align-items: center;
    animation: slideRight 1s ease forwards;
}

.home1 .box {
    position: relative;
    width: 500px;
    height: 500px;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    overflow: hidden;
}

.home1 .box::before {
    content: '';
    position: absolute;
    inset: -10px 140px;
    background: #FF3E7E;
    transition: 0.5s;
    animation: animate 4s linear infinite;
}

.home1 .box:hover::before {
    inset: -20px 0px;
}

@keyframes animate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}



.home1 .box::after {
    content: '';
    position: absolute;
    inset: 6px;
    background: #0B0640;
    border-radius: 50%;
    z-index: 1;
    cursor: pointer;
}

.photo-content {
    position: absolute;
    inset: 30px;
    border: 6px solid #000;
    z-index: 3;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
}

.photo-content img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.5s;
    pointer-events: none;
    z-index: 3;
    
}

.box:hover .photo-content img {
    opacity: 0;
}

.photo-content h2 {
    position: relative;
    font-size: 25px;
    text-align: center;
    line-height: 1em;
    color: #FF3E7E;
    font-weight: 600;
    letter-spacing: 0.05em;
    text-transform: uppercase;
}

.photo-content h2 span {
    color: #D3D9F0;
    font-weight: 300;
    font-size: 1em;
    font-size: 0.75em;
}

.photo-content a {
    position: relative;
    display: inline-block;
    margin-top: 30px;
    padding: 5px 15px;
    background: #FF3E7E;
    color: #fff;
    border-radius: 25px;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 0.05em;
    text-decoration: none;
    transition: 0.5s;
    overflow: hidden;
}

.photo-content a span {
    position: absolute;
    background: rgba(255, 255, 255, 0.5);
    transform: translate(-50%, -50%);
    pointer-events: none;
    border-radius: 50%;
    animation: shine 1s linear infinite;
    animation-duration: 1s;
}



@keyframes shine { 
    0% {
        width: 0px;
        height: 0px;
        opacity: 0.3;
    }
    100% {
        width: 500px;
        height: 500px;
        opacity: 0;
        
    }
}

.home2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100vh;
}

.home2 .line {
    display: flex;
    flex-direction: column;
    padding-left: 2rem;
    margin-bottom: 1rem;
}

.home2 .line h3 {
    width: 75%;
    text-align: right;
    color: #C4C5DE;
    animation: slideLeft 1s ease forwards;
}


.home2 .line h1 {
    color: #FF3E7E;
    text-align: right;
    width: 75%;
    line-height: 4rem;
    animation: slideRight 1s ease forwards;
}

.home2 .line h2 {
    text-align: right;
    color: #C4C5DE;
    width: 75%;
    line-height: 1.5em;
    animation: slideRight 1s ease forwards;
}

.home2 .line h2 span {
    color: #0B0640;
    position: relative;
    -webkit-text-stroke: 0.02vw #322b95;
}

.home2 .line h2 span::before {
    content: attr(data-text);
    position: absolute;
    top: 1;
    left: 0;
    width: 0%;
    height: 100%;
    color: #FF3E7E;
    white-space : nowrap;
    -webkit-text-stroke: 0vw #0e0016;
    border-right: 2px solid #ff3e7e;
    overflow: hidden;
    animation: showText 6s linear infinite;
}

@keyframes showText {
    0%, 10%, 100% {
        width: 0;
    }
    70%, 90% {
        width: 100%;
    }
}

.home2 .line p {
    width: 75%;
    text-align: right;
    animation: slideLeft 1s ease forwards;
}

.home2 .socials {
    display: flex;
    align-items: right;
    justify-content: right;
    width: 75%;
    padding-right: 100px;
    animation: slideLeft 1s ease forwards;
}

.home2 .socials a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 35px;
    background: transparent;
    border: 2px solid #ff3e7e;
    border-radius: 50%;
    font-size: 18px;
    color: #ff3e7e;
    text-decoration: none;
    margin-left: 10px;
}

.home2 .socials a:hover {
    background: #ff3e7e;
    color: #0B0640;
    box-shadow: 0 0 20px #ff3e7e;
}

.button {
    display: flex;
    justify-content: right;
    padding-right: 100px;
    align-items: center;
    width: 75%;
    margin-top: 2rem;
    animation: slideRight 1s ease forwards;
}


.more-btn {
    width: 160px;
    text-align: center;
    border-radius: 20px;
    padding: 10px 2px;
    background: none;
    border-radius: 40px;
    font-size: 16px;
    color: #ff3e7e;
    border: 1px solid #ff3e7e;
    cursor: pointer;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 450;
    animation: slideRight 1s ease forwards;
    transition: 0.8s;
    position: relative;
    overflow: hidden;
    z-index: 2;
}

.more-btn:hover {
    color: #fff;
}

.more-btn::before {
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
    height: 0%;
    background: #ff3e7e;
    z-index: -1;
    transition: 0.8s;
    bottom: 0;
    border-radius: 50% 50% 0 0;
}

.more-btn:hover::before {
    height: 180%;
    color: #0B0640;
}


@keyframes slideRight {
    0% {
        transform: translateX(-100px);
        opacity: 0;
    }

    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}

@keyframes slideTop {
    0% {
        transform: translateY(100px);
        opacity: 0;
    }

    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}

@keyframes slideBottom {
    0% {
        transform: translateY(-100px);
        opacity: 0;
    }

    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}

@keyframes slideLeft {
    0% {
        transform: translateX(100px);
        opacity: 0;
    }

    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}

.content2 {
    display: flex;
    width: 100%;
    margin-bottom: 10rem;
}

.about-me1 {
    display: flex;
    width: 50%;
    justify-content: center;
    align-items: right;
}

.photo {
    width: 70%;  
}

.about-me2 {
    display: flex;
    flex-direction: column;
    width: 50%;
    justify-content: center;
    align-items: left;
}

.about-me2 h2 { /*Title*/
    font-size: 60px;
    color: #ededed;
    text-align: left;
    line-height: 1.7em;
}

.about-me2 h2 span {
    color: #ff3e7e;
}

.about-me2 h4 { 
    font-size: 32px;
    font-weight: 600;
    line-height: 1.7em;
    color: #C4C5DE;
}

.about-me2 p {
    margin-top: 1rem;
    width: 85%;
    font-size: 20px;
}

.about-me2 p span {
    color: #ff6094;

}

.content3 {
    display: flex; 
    flex-direction: column;
    justify-content: center;
    width: 100%;
    margin-bottom: 10rem;
}

.title-services {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.services-title {
    text-align: center;
    font-size: 60px;
    color: #ededed;
    margin-bottom: 5rem;
}

.services-title span {
    color: #ff3e7e;
}

.services {
    display: flex;
    justify-content: center;
    align-self: center;
    width: 90%;
    gap: 50px;
}

.service {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: transparent;
    width: 400px;
    max-width: 600px;
    min-width: 350px;
    padding: 30px;
    font-size: 12px;
    font-weight: 13px;
    border-right: 10px;
    border-radius: 20px;
    box-shadow: 1px 1px 20px #22037d,
            1px 1px 40px #2F04ab
}

.service:hover {
    transform: translate(0, -8px);
    transition-duration: 0.5s;
}

.service i {
    font-size: 52px;
    margin-bottom: 15px;
    margin-top: 1rem;
}

.service h2 {
    font-size: 32px;
    font-weight: 500;
    margin-bottom: 10px;
    color: #ededed;
}

.service p {
    font-size: 16px;
    line-height: 1.2rem;
}

.service a {
    text-decoration: none;
    font-size: 12px;
    margin-top: 20px;
    width: 140px;
    text-align: center;
    border-radius: 20px;
    padding: 12px 28px;
    margin-bottom: 1rem;
    background: #ff3e7e;
    border-radius: 20px;
    color: #000;
    letter-spacing: 1px;
    font-weight: 550;
    box-shadow: 0 0 3px #ff3e7e,

}

.service a:hover {
    box-shadow: 0 0 5px #ff3e7e,
    0 0 25px #ff3e7e
}

.content4 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 8rem;
}

.skills-title {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
}

.skills-title h1 {
    text-align: center;
    font-size: 60px;
    color: #ededed;
    margin-bottom: 3rem;
}

.skills-title h1 span {
    color: #ff3e7e;
}

.skills {
    display: flex;
    justify-content: center;
    align-items: center;
}

.skills-card {
    display: flex;
    position: relative;
    width: 390px;
    height: 180px;
    border-radius: 20px;
    transition: 0.5s;
}

.skills-card .skills-circle {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    overflow: hidden;
}

.skills-card .skills-circle::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #2F04ab;
    clip-path: circle(80px at center);
    transition: 0.5s;
}

.skills-card:hover .skills-circle:before {
    clip-path: circle(400px at center);
}

.skills-1:hover .skills-circle:before {
    background-color: #FF6421;
}

.skills-2:hover .skills-circle:before {
    background-color: #0089CA;
}

.skills-3:hover .skills-circle:before {
    background-color: #8ACF17;
}

.skills-card img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 200px;
    pointer-events: none;
    transition: 0.5s;
}

.skills-card:hover img {
    left: 72%;
    height: 300px;
}

.skills-card .skills-content {
    position: relative;
    width: 50%;
    padding: 15px 30px;
    transition: 0.5s;
    color: #fff;
    opacity: 0;
    visibility: hidden;
}

.skills-card .skills-content h2 {
    font-size: 20px;
    text-transform: uppercase;
    line-height: 1em;
}

.skills-card .skills-content ul li {
    font-size: 12px;
}

.skills-card:hover .skills-content {
    left: 0;
    opacity: 1;
    visibility: visible;
}

.content5 {
    width: 100%;
    margin-top: 3rem;
    margin-bottom: 10rem;
}

.project-title {
    display: flex;
    width:100%;
    justify-content: center;
    align-items: center;
}

.project-title h3 {
    text-align: center;
    color: #ededed;
    font-size: 60px;
    margin-bottom: 5rem;
}

.project-title h3 span{
    color: #ff3e7e;
}

.wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
}

.wrapper-container {
    height: 400px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: start;
}

.card {
    width: 80px;
    border-radius: .75rem;
    background-size: cover;
    cursor: pointer;
    overflow: hidden;
    border-radius: 2rem;
    margin: 0 10px;
    display: flex;
    align-items: flex-end;
    transition: .6s cubic-bezier(.28,-0.03,0,.99);
    box-shadow: 0px 8px 20px 2px rgba(47,4,171,0.8);
}

.card > .row {
    color: white;
    display: flex;
    flex-wrap: nowrap;
    background-color: rgba(47,4,171,0.8);
}

.card > .row > .icon {
    background: #ff3e7e;
    color: white;
    border-radius: 50%;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px;
}

.card > .row > .description {
    display: flex;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
    height: 80px;
    width: 520px;
    opacity: 0;
    transform: translateY(30px);
    transition-delay: .3s;
    transition: all .3s ease;
}

.description p {
    color: #b0b0ba;
    line-height: 1.5em;
    color: #C4C5DE;
}

.description h4 {
    text-transform: uppercase;
    color: white;
}

input {
    display: none;
}

input:checked + label {
    width: 600px;
}

input:checked + label .description {
    opacity: 1 !important;
    transform: translateY(0) !important;
}

.card[for="c1"] {
    background-image: url('resources/project1.png');
}
.card[for="c2"] {
    background-image: url('resources/project2.png');
}
.card[for="c3"] {
    background-image: url('./img3.png');
}
.card[for="c4"] {
    background-image: url('./img4.png');
}

.content6 {
    display: flex;
    width: 100%;
}

.contact {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #0E0036;
}

.contact1 {
    width: 30%;
}

.contact1 .text-contact {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.contact1 .text-contact h2 {
    text-align: center;
    font-size: 40px;
    color: #ededed;
    line-height: 2em;
}

.text-contact h2 span {
    color: #ff3e7e;
}

.contact2 {
    width: 70%;
}

.contact-text {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
}


.contact-text h4 {
    width: 255px;
    font-size: 25px;
    line-height: 1em;
    color: #0B0640;
    position: relative;
    -webkit-text-stroke: 0.02vw #322b95;
}

.contact-text h4::before {
    content: attr(data-text);
    position: absolute;
    top: 1;
    left: 0;
    width: 0%;
    height: 100%;
    color: #FF3E7E;
    white-space : nowrap;
    -webkit-text-stroke: 0vw #0e0016;
    border-right: 2px solid #ff3e7e;
    overflow: hidden;
    animation: showText 6s linear infinite;
}

.contact-text p {
    margin-top: 1rem;
    width: 90%;
}

.contact-list {
    color: #C4C5DE;
    margin-bottom: 2rem;
}

.contact-list li{
    list-style-type:none;
    cursor: pointer;
    color: #D3D9F0;
}

.contact-list li:hover {
    color: #ff3e7e;
}

.contact-list i {
    color: #ff3e7e;
    line-height: 2em;
    animation: shake 1s ease-in-out infinite;
}

.contact-list i:nth-child(2) {
    animation-delay: 5s;
}

@keyframes shake {
    0% { transform: rotate(0deg); }
    25% { transform: rotate(0deg); }
    30% { transform: rotate(0deg); }
    45% { transform: rotate(15deg);  }
    50% { transform: rotate(-15deg);  }
    60% { transform: rotate(0deg);  }
    75% {transform: rotate(0deg);  }
    100% { transform: rotate(0deg);  }
}

.contact-list li a {
    text-decoration: none;
    color: #C4C5DE;
}

.contact-list li a:hover{
    text-decoration: none;
    color: #ff3e7e;
}


.contact-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.contact-icons a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 35px;
    background: transparent;
    border: 2px solid #ff3e7e;
    border-radius: 50%;
    font-size: 18px;
    color: #ff3e7e;
    text-decoration: none;
    margin-bottom: 2rem;
}

.contact-icons a:hover {
    background: #ff3e7e;
    color: #0B0640;
    box-shadow: 0 0 20px #ff3e7e;
}