*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'poppins', sans-serif;
}

h1 {
    font-size: xxx-large;
}

h2 {
    font-size: xx-large;
}

h3 {
    font-size: x-large;
}

p {
    font-size: large;
    line-height: 2rem;
    color: #C4C5DE;
}

div {
    border: 1px solid #C4C5DE;
}

.container {
    width: 100%;
    background-color: #0B0640;
}

.nav {
    display: flex;
    flex-wrap: wrap;
    position: fixed;
    width: 100%;
    padding-left: 100px;
    padding-right: 100px;
    height: 10vh;
    align-items: center;
    justify-content: center;
    background-color: #0B0144;
    z-index: 100;
}

.nav1 {
    display: flex;
    width: 50%;
    height: 10vh;
    
}

.logo {
    padding: 10px;
    cursor: pointer;
}


.nav2 {
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    align-items: center;
    justify-content: space-between;
    
}

.nav2 a {
    color: #ededed;
    font-size: 22px;
    text-decoration: none;
}

.nav2 a:hover {
    color: #FF3E7E;
}

.text {
    padding: 10px;
    color: #fff;
}

.section {
    width: 100%;
    height: 100vh;
}

.content1 {
    display: flex;
    /*background: url(background-photo.png);*/
}

.home1 {
    width: 50%;
    height: 100vh;
    padding-top: 15rem;
    padding-left: 110px;
}

.stars {
    width: 10px;
    height: 15px;
}

.home2 {
    width: 50%;
    height: 100vh;
}

.blank {
    height: 45vh;
}

.line {
    display: flex;
    flex-direction: column;
    height: 30vh;
    padding-left: 2rem;
}

.line h3 {
    text-align: right;
    color: #C4C5DE;
    padding-right: 100px;
}


.line h1 {
    color: #FF3E7E;
    text-align: right;
    padding-right: 100px;
    line-height: 4rem;
}

.line h2 {
    text-align: right;
    color: #C4C5DE;
    padding-right: 100px;
}

.line h2 span {
    text-shadow: 0 0 5px rgba(196, 197, 222, 1);
}

.line p {
    padding-right: 100px;
    text-align: right;
}

.socials {
    display: flex;
    align-items: right;
    justify-content: right;
    width: 100%;
    padding-right: 100px;
}

.socials a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 35px;
    background: transparent;
    border: 2px solid #ff3e7e;
    border-radius: 50%;
    font-size: 18px;
    color: #ff3e7e;
    text-decoration: none;
    margin-left: 10px;
}

.socials a:hover {
    background: #ff3e7e;
    color: #0B0640;
    box-shadow: 0 0 20px #ff3e7e;
}

.button {
    display: flex;
    align-items: right;
    justify-content: right;
    width: 100%;
    padding-right: 100px;
    padding-top: 20px;
}

.more-btn {
    width: 150px;
    text-align: center;
    border-radius: 20px;
    padding: 12px 28px;
    background: #ff3e7e;
    border-radius: 40px;
    font-size: 15px;
    color: #0B0640;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 550;
    box-shadow: 0 0 5px #ff3e7e,
    0 0 25px #ff3e7e
}

.more-btn:hover {
    box-shadow: 0 0 5px #ff3e7e,
    0 0 25px #ff3e7e, 0 0 50px #ff3e7e
}


.content2 {
    display: flex;
    width: 100%;
    height: 90vh;
}

.about-me1 {
    width: 45%;
    height: 90vh;
    padding-left: 75px;
}

.photo {
    justify-content: center;
    align-items: center;
    width: 70%;
    
}

.about-me2 {
    width: 55%;
    height: 90vh;
    padding-top: 9rem;
    padding-left: 2rem;
    padding-right: 100px;
}

.about-me2 h2 { /*Title*/
    font-size: 60px;
    color: #ededed;
    margin-bottom: 1rem;
}

.about-me2 h2 span {
    color: #ff3e7e;
}

.about-me2 h4 { 
    font-size: 29px;
    font-weight: 600;
    line-height: 1.7;
    color: #C4C5DE;
    text-shadow: 0 0 5px rgba(196, 197, 222, 1);
}

.about-me2 p {
    margin-top: 1rem;
}

.content3 {
    display: flex; 
    flex-direction: column;
    width: 100%;
    height: 90vh;
}

.title-services {
    width: 100%;
    height: 30vh;
    padding: 0 100px;
    padding-top: 90px;
    align-items: center;
    justify-content: center;
}

.services-title {
    text-align: center;
    font-size: 60px;
    color: #ededed;
}

.services-title span {
    color: #ff3e7e;
}

.services {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 70vh;
    padding: 0 100px;
    padding-top: 40px;
    gap: 50px;
}

.service {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: transparent;
    width: 410px;
    height: 320px;
    padding: 40px;
    font-size: 13px;
    font-weight: 13px;
    border-right: 10px;
    border-radius: 20px;
    box-shadow: 1px 1px 20px #22037d,
            1px 1px 40px #2F04ab
}

.service i {
    font-size: 50px;
    margin-bottom: 15px;
    margin-top: 1rem;
}

.service h2 {
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 10px;
    color: #ededed;
}

.service p {
    font-size: 14px;
    line-height: 1.2rem;
}

.service a {
    text-decoration: none;
    font-size: 12px;
    margin-top: 20px;
    width: 140px;
    text-align: center;
    border-radius: 20px;
    padding: 12px 28px;
    margin-bottom: 1rem;
    background: #ff3e7e;
    border-radius: 20px;
    color: #0E0036;
    letter-spacing: 1px;
    font-weight: 550;
    box-shadow: 0 0 3px #ff3e7e,
    0 0 25px #ff3e7e
}

.service a:hover {
    box-shadow: 0 0 5px #ff3e7e,
    0 0 25px #ff3e7e, 0 0 40px #ff3e7e
}

.content4 {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 90vh;
}

.content4 h1 {
    text-align: center;
    font-size: 60px;
    color: #ededed;
    padding-top: 6rem;
}

.content4 h1 span {
    color: #ff3e7e;
}

.skills-title {
    height: 25vh;
}


.radial-bars{
    width: 100%;
    height: 65vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    padding: 0px 100px;
    padding-top: 3rem;
    gap: 50px;
}
.radial-bars .radial-bar {
    width: 170px;
    height: 170px;
    position: relative;
}
.radial-bars .radial-bar svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-90deg);
    width: 120px;
    height: 160px;
}
.radial-bars .radial-bar .progress-bar {
    stroke-width: 10;
    stroke: black;
    fill: transparent;
    stroke-dasharray: 502;
    stroke-dashoffset: 502;
    stroke-linecap: round;
    animation: animate-bar 1s linear forwards;
}
@keyframes animate-bar {
    100% {
        stroke-dashoffset: -1;
    }
}
.path {
    stroke-width: 10;
    stroke: #ff3e7e;
    fill: transparent;
    stroke-dasharray: 502;
    stroke-dashoffset: 502;
    stroke-linecap: round;
}
.path-1{animation: animate-path1 1s 1s linear forwards;}
.path-2{animation: animate-path2 1s 1s linear forwards;}
.path-3{animation: animate-path3 1s 1s linear forwards;}
.path-4{animation: animate-path4 1s 1s linear forwards;}
.path-5{animation: animate-path4 1s 1s linear forwards;}

@keyframes animate-path1 {
    100% {
        stroke-dashoffset: 300;;
    }
}
@keyframes animate-path2 {
    100% {
        stroke-dashoffset: 430;;
    }
}
@keyframes animate-path3 {
    100% {
        stroke-dashoffset: 490;;
    }
}
@keyframes animate-path4 {
    100% {
        stroke-dashoffset: 460;;
    }
}
@keyframes showText {
    100% {
        opacity: 1;
    }
}

.radial-bar .percentage {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 17px;
    font-weight: 700;
    color: #ff3e7e;
    font-size: 30px;
    animation: showText 0.5s 1s linear forwards;
    opacity: 0;
}

.radial-bar .percentage span {
    font-size: 15px;
    font-weight: 600;
    color: #D3D9F0;
}

.radial-bar .text {
    width: 100%;
    position: absolute;
    text-align: center;
    left: 30%;
    bottom: -5px;
    transform: translateX(-50px);
    font-size: 17px;
    font-weight: 500;
    animation: showText 0.5s 1s linear forwards;
    opacity: 0;
}

.project-title {
    height: 25vh;
    width:100%;
    justify-content: center;
    align-items: center;
    padding: 3.5rem;
}

.project-title h3 {
    text-align: center;
    color: #ededed;
    font-size: 50px;
}

.project-title h3 span{
    color: #ff3e7e;
}

.projects-slide {
    display: flex;
    width: 100%;
    height:65vh;
    
}

.my-slides {
    display: flex;
    width: 100%;
    height: 45vh;
}

.proj-photo {
    display: flex;
    justify-content: center;
    width: 50%;
    padding-left: 110px;
    height: 45vh;
}


.proj-desc {
    width: 50%; 
}

.proj-text {
    width: 100%;
    height: 45vh;
    padding-right: 200px;
    padding-left: 10px;
    padding-top: 2rem;
}

.proj-desc h2 {
    color: #ff3e7e;
    font-size: 40px;
    line-height: 2em;
}


.proj-desc h2 span {
    color: #D3D9F0;
}

.proj-desc p {
    font-size: 20px;
}



.content6 {
    display: flex;
    width: 100%;
    height: 50vh;
}

.contact {
    display: flex;
    width: 100%;
    height: 50vh;
    
}

.contact-text {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 50vh;
    padding-left: 100px;
    padding-right: 2rem;
}

.text-contact {
    height: 30vh;
    padding-top: 2rem;
    
}

.contact-text h2 {
    text-align: center;
    font-size: 50px;
    color: #ededed;
    line-height: 2em;
}

.contact-text h2 span {
    color: #ff3e7e;
}

.contact-text h4 {
    font-size: 25px;
    color: #D3D9F0;
    line-height: 1em;
}

.contact-text p {
    margin-top: 1rem
}

.contact-list {
    height: 10vh;
    color: #C4C5DE;
}

.contact-list li{
    list-style-type:none;
    margin: 0;
    padding: 0;
    cursor: pointer;
    color: #D3D9F0;
}

.contact-list li:hover {
    color: #ededed;
}

.contact-list i {
    color: #ff3e7e;
    line-height: 2em;
}

.contact-icons {
    display: flex;
    height: 10vh;
}

.contact-icons a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 35px;
    background: transparent;
    border: 2px solid #ff3e7e;
    border-radius: 50%;
    font-size: 18px;
    color: #ff3e7e;
    text-decoration: none;
    margin-left: 10px;
}

.contact-icons a:hover {
    background: #ff3e7e;
    color: #0B0640;
    box-shadow: 0 0 20px #ff3e7e;
}

/*
    .last-text p {
        padding: 10px 0;
        font-weight: 200;
        margin-top: 70px;
    }
}*/

.contact-form {
    width: 50%;
    order: 2;
    padding-top: 5rem;
    padding-left: 2rem;
}

.contact-form form input,form textarea {
    width: 80%;
    padding: 10px;
    font-size: 0.8rem;
    font-weight: 600;
    margin-bottom: 0.3rem;
    border-radius: 0.3rem;
    border: 0;
    background-color: #D3D9F0;
}


.contact-form form .send {
    padding: 12px 28px;
    border-radius: 30px;
    border: 0;
    font-size: 15px;
    background-color: #ff3e7e;
    box-shadow: 0 0 5px #ff3e7e,
    0 0 25px #ff3e7e
}

.contact-form form .send:hover {
    box-shadow: 0 0 5px #ff3e7e,
    0 0 25px #ff3e7e, 0 0 50px #ff3e7e
}
