*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'poppins', sans-serif;
    
}

h1 {
    font-size: xxx-large;
}

h2 {
    font-size: xx-large;
}

h3 {
    font-size: x-large;
}

p {
    font-size: large;
    line-height: 2rem;
    color: #C4C5DE;
}


.container {
    width: 100%;
    background-color: #0B0640;
}

.nav {
    display: flex;
    flex-wrap: wrap;
    position: fixed;
    width: 100%;
    padding-left: 100px;
    padding-right: 100px;
    height: 10vh;
    align-items: center;
    justify-content: center;
    background-color: #0E0036;
    z-index: 100;
}

.nav1 {
    display: flex;
    width: 50%;
    height: 10vh;
    
}

.logo {
    padding: 10px;
    cursor: pointer;
}


.nav2 {
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    align-items: center;
    justify-content: space-between;
    
}

.nav2 a {
    color: #ededed;
    font-size: 22px;
    text-decoration: none;
}

.nav2 a:hover {
    color: #FF3E7E;
}

.text {
    padding: 10px;
    color: #fff;
}

.section {
    width: 100%;
    height: 100vh;
}

.content1 {
    display: flex;

}

.home1 {
    display: flex;
    width: 50%;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

/*

.right {
    position: flex;
    width: 50%;
    height: 90vh;
    background: #0B0640;
    overflow: hidden;
}

.left {
    position: absolute;
    width: 100%;
    height: 200px;
    top: 0;
    left: 0;
    top: 50%;
    background: #ff3e7e;
}
  
  .ellipse {
      position: absolute;
      z-index: 2;
      width: 420px;
      height: 400px;
      top: 0;
      left: -10px;
      transform-style: preserve-3d;
      animation: elastic $speed ease-in-out infinite;
      
      .violet {
          position: absolute;
          width: $e-width;
          height: $e-height;
          background: #0B0640;
          backface-visibility: hidden;
          border-radius: 50%;
          z-index: 2;
          transform: rotateX(0);
      }
      
      .pink {
          @extend .violet;
          background: $green;
          z-index: 1;
          transform: rotateX(180deg);
      }
      
  }
  
  @keyframes elastic {
      0% {
          transform: rotateX(90deg);
      }
      15% {
          transform: rotateX(150deg);
      }
      20% {
          transform: rotateX(50deg);
      }
      25% {
          transform: rotateX(120deg);
      }
      30% {
          transform: rotateX(70deg);
      }
      35% {
          transform: rotateX(100deg);
      }
      40% {
          transform: rotateX(83deg);
      } 
      45% {
          transform: rotateX(93deg);
      }
      50% {
          transform: rotateX(90deg);
      }
      
      65% {
          transform: rotateX(30deg);
      }
      70% {
          transform: rotateX(130deg);
      }
      75% {
          transform: rotateX(60deg);
      }
      80% {
          transform: rotateX(110deg);
      }
      85% {
          transform: rotateX(80deg);
      }
      90% {
          transform: rotateX(97deg);
      } 
      95% {
          transform: rotateX(87deg);
      }
      100% {
          transform: rotateX(90deg);
      }
  }




.shadow {
	position: absolute;
	z-index: -1;
	bottom: -2px;
	left: -4px;
	right: -4px;
	height: 2px;
	border-radius: 50%;
	background: rgba(0,0,0,0.2);
	box-shadow: 0 0 0px 8px rgba(0,0,0,0.2);
	animation: shadow 1.6s ease-in-out infinite both;
}

@keyframes down {
	0% {
		transform: translateY(-100px);
	}
	20%, 100% {
		transform: translateY(0);
	}
}

@keyframes up {
	0%, 75% {
		transform: translateY(0);
	}
	100% {
		transform: translateY(-100px);
	}
}

@keyframes squeeze {
	0%, 4% {
		transform: scale(1);
	}
	45% {
		transform: scale(1.8, 0.4);
	}
	100% {
		transform: scale(1);
	}
}

@keyframes rotate-in {
	0% {
		transform: rotate(-135deg);
	}
	20%, 100% {
		transform: rotate(0deg);
	}
}

@keyframes rotate-out {
	0%, 80% {
		transform: rotate(0);
	}
	100% {
		transform: rotate(135deg);
	}
}

@keyframes shadow {
	0%, 100% {
		transform: scaleX(.5);
	}
	45%, 50% {
		transform: scaleX(1.8);
	}
}

*/


.home2 {
    width: 50%;
    height: 100vh;
}

.blank {
    height: 45vh;
}

.line {
    display: flex;
    flex-direction: column;
    height: 30vh;
    padding-left: 2rem;
}

.line h3 {
    text-align: right;
    color: #C4C5DE;
    padding-right: 100px;
}


.line h1 {
    color: #FF3E7E;
    text-align: right;
    padding-right: 100px;
    line-height: 4rem;
}

.line h2 {
    text-align: right;
    color: #C4C5DE;
    padding-right: 100px;
    line-height: 1.5em;
}

.line h2 span {
    text-shadow: 0 0 5px rgba(196, 197, 222, 1);
}

.line p {
    padding-right: 100px;
    text-align: right;
}

.socials {
    display: flex;
    align-items: right;
    justify-content: right;
    width: 100%;
    height: 7vh;
    padding-right: 100px;
}

.socials a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 35px;
    background: transparent;
    border: 2px solid #ff3e7e;
    border-radius: 50%;
    font-size: 18px;
    color: #ff3e7e;
    text-decoration: none;
    margin-left: 10px;
}

.socials a:hover {
    background: #ff3e7e;
    color: #0B0640;
    box-shadow: 0 0 20px #ff3e7e;
}

.button {
    display: flex;
    align-items: right;
    justify-content: right;
    align-items: center;
    width: 100%;
    height: 8vh;
    padding-right: 100px;
}

.more-btn {
    width: 150px;
    text-align: center;
    border-radius: 20px;
    padding: 12px 28px;
    background: #ff3e7e;
    border-radius: 40px;
    font-size: 15px;
    color: #0B0640;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 550;
    box-shadow: 0 0 5px #ff3e7e,
    0 0 25px #ff3e7e
}

.more-btn:hover {
    box-shadow: 0 0 5px #ff3e7e,
    0 0 25px #ff3e7e, 0 0 50px #ff3e7e
}


.content2 {
    display: flex;
    width: 100%;
    height: 100vh;
}

.about-me1 {
    display: flex;
    width: 50%;
    justify-content: center;
    align-items: right;
}

.photo {
    width: 70%;  
}

.about-me2 {
    display: flex;
    flex-direction: column;
    width: 50%;
    justify-content: center;
    align-items: left;
}

.about-me2 h2 { /*Title*/
    font-size: 60px;
    color: #ededed;
    text-align: left;
    line-height: 1.7em;
}

.about-me2 h2 span {
    color: #ff3e7e;
}

.about-me2 h4 { 
    font-size: 29px;
    font-weight: 600;
    line-height: 1.7em;
    color: #C4C5DE;
    text-shadow: 0 0 5px rgba(196, 197, 222, 1);
}

.about-me2 p {
    margin-top: 1rem;
    width: 85%;
    font-size: 20px;
}

.content3 {
    display: flex; 
    flex-direction: column;
    justify-content: center;
    width: 100%;
    margin-bottom: 10rem;
}

.title-services {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.services-title {
    text-align: center;
    font-size: 60px;
    color: #ededed;
    margin-bottom: 5rem;
}

.services-title span {
    color: #ff3e7e;
}

.services {
    display: flex;
    justify-content: center;
    align-self: center;
    width: 90%;
    gap: 50px;
}

.service {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: transparent;
    width: 400px;
    max-width: 600px;
    min-width: 350px;
    padding: 30px;
    font-size: 13px;
    font-weight: 13px;
    border-right: 10px;
    border-radius: 20px;
    box-shadow: 1px 1px 20px #22037d,
            1px 1px 40px #2F04ab
}

.service i {
    font-size: 50px;
    margin-bottom: 15px;
    margin-top: 1rem;
}

.service h2 {
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 10px;
    color: #ededed;
}

.service p {
    font-size: 14px;
    line-height: 1.2rem;
}

.service a {
    text-decoration: none;
    font-size: 12px;
    margin-top: 20px;
    width: 140px;
    text-align: center;
    border-radius: 20px;
    padding: 12px 28px;
    margin-bottom: 1rem;
    background: #ff3e7e;
    border-radius: 20px;
    color: #0E0036;
    letter-spacing: 1px;
    font-weight: 550;
    box-shadow: 0 0 3px #ff3e7e,
    0 0 25px #ff3e7e
}

.service a:hover {
    box-shadow: 0 0 5px #ff3e7e,
    0 0 25px #ff3e7e, 0 0 40px #ff3e7e
}

.content4 {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 8rem;
}

.skills-title {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
}

.skills-title h1 {
    text-align: center;
    font-size: 60px;
    color: #ededed;
    margin-bottom: 3rem;
}

.skills-title h1 span {
    color: #ff3e7e;
}


.skills-list {
    display: flex;
    width: 100%;
}

.skills1 {
    display: flex;
    justify-content: center;
    width: 50%;
}

.tech-skills {
    width: 60%;
}

.tech-skills h2 {
    color: #ededed;
    text-align: center;
    margin-bottom: 3rem;
}

.bar {
    font-size: 23px;
}
.skills1 .bar {
    margin-top: 40px 0;
    margin-bottom: 5px;
}
.skills1 .bar:first-child {
    margin-top: 0;
}
.skills1 .bar:last-child {
    margin-bottom: 0;
}
.skills1 .bar .info {
    margin-bottom: 5px;
}
.skills1 .bar .info span {
    font-size: 17px;
    font-weight: 500;
    animation: showText 0.5s 1s linear forwards;
    opacity: 0;
    color: #D3D9F0
}
.skills1 .bar .progress-line {
    position: relative;
    border-radius: 10px;
    width: 100%;
    height: 5px;
    background-color: #000;
    animation: animate 1s cubic-bezier(1,0,0.5,1) forwards;
    transform: scaleX(0);
    transform-origin: left;

}

@keyframes animate {
    100% {
        transform: scaleX(1);
    }
}
.skills1 .bar .progress-line span {
    height: 100%;
    background-color: #ff3e7e;
    position: absolute;
    border-radius: 10px;
    animation: animate 1s 1s cubic-bezier(1,0,0.5,1) forwards;
    transform: scaleX(0);
    transform-origin: left;
}
.progress-line.html span {
    width: 30%;   
}
.progress-line.css span {
    width: 15%;   
}
.progress-line.javascript span {
    width: 2%;   
}
.progress-line.python span {
    width: 50%;   
}
.progress-line.cplusplus span {
    width: 20%;   
}
.progress-line.java span {
    width: 30%;   
}
.progress-line span::after {
    position: absolute;
    padding: 1px 8px;
    background-color: #000;
    color: #fff;
    font-size: 12px;
    border-radius: 3px;
    top: -28px;
    right: -20px;
    animation: showText 0.5s 1.5s linear forwards;
    opacity: 0;
}
.progress-line.html span::after {
    content: "30%";
}
.progress-line.css span::after {
    content: "15%";
}
.progress-line.javascript span::after {
    content: "2%";
}
.progress-line.python span::after {
    content: "50%";
}
.progress-line.cplusplus span::after {
    content: "20%";
}
.progress-line.java span::after {
    content: "30%";
}
.progress-line span::before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border: 7px solid transparent;
    border-bottom-width: 0px;
    border-right-width: 0px;
    border-top-color: #000;
    top: -10px;
    right: 0;
    animation: showText 0.5s 1.5s linear forwards;
    opacity: 0;
}

.skills2 {
    display: flex;
    width: 50%;
    justify-content: center;
}

.prof-skills {
    display: flex;
    flex-direction: column;
}

.prof-skills h2 {
    color: #ededed;
    text-align: center;
    margin-bottom: 3rem;
}

.radialbar-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.radial-bars{
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    
}

.radial-bars1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.radial-bars2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.radial-bars .radial-bar {
    width: 170px;
    height: 170px;
    position: relative;
}
.radial-bars .radial-bar svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-90deg);
    width: 120px;
    height: 160px;
}
.radial-bars .radial-bar .progress-bar {
    stroke-width: 10;
    stroke: black;
    fill: transparent;
    stroke-dasharray: 502;
    stroke-dashoffset: 502;
    stroke-linecap: round;
    animation: animate-bar 1s linear forwards;
}
@keyframes animate-bar {
    100% {
        stroke-dashoffset: -1;
    }
}
.path {
    stroke-width: 10;
    stroke: #ff3e7e;
    fill: transparent;
    stroke-dasharray: 502;
    stroke-dashoffset: 502;
    stroke-linecap: round;
}
.path-1{animation: animate-path1 1s 1s linear forwards;}
.path-2{animation: animate-path2 1s 1s linear forwards;}
.path-3{animation: animate-path3 1s 1s linear forwards;}
.path-4{animation: animate-path4 1s 1s linear forwards;}
.path-5{animation: animate-path5 1s 1s linear forwards;}
.path-6{animation: animate-path6 1s 1s linear forwards;}

@keyframes animate-path1 {
    100% {
        stroke-dashoffset: 200;;
    }
}
@keyframes animate-path2 {
    100% {
        stroke-dashoffset: 180;;
    }
}
@keyframes animate-path3 {
    100% {
        stroke-dashoffset: 150;;
    }
}
@keyframes animate-path4 {
    100% {
        stroke-dashoffset: 230;;
    }
}
@keyframes animate-path5 {
    100% {
        stroke-dashoffset: 200;;
    }
}
@keyframes animate-path6 {
    100% {
        stroke-dashoffset: 200;;
    }
}
@keyframes showText {
    100% {
        opacity: 1;
    }
}

.radial-bar .percentage {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 17px;
    font-weight: 700;
    color: #ff3e7e;
    font-size: 30px;
    animation: showText 0.5s 1s linear forwards;
    opacity: 0;
}

.radial-bar .percentage span {
    font-size: 15px;
    font-weight: 600;
    color: #D3D9F0;
}

.radial-bar .text {
    width: 100%;
    position: absolute;
    text-align: center;
    left: 30%;
    bottom: -1px;
    transform: translateX(-50px);
    font-size: 17px;
    font-weight: 500;
    animation: showText 0.5s 1s linear forwards;
    opacity: 0;
}

.content5 {
    width: 100%;
    margin-top: 3rem;
    margin-bottom: 10rem;
}

.project-title {
    display: flex;
    width:100%;
    justify-content: center;
    align-items: center;
}

.project-title h3 {
    text-align: center;
    color: #ededed;
    font-size: 50px;
    margin-bottom: 5rem;
}

.project-title h3 span{
    color: #ff3e7e;
}

.wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
}

.wrapper-container {
    height: 400px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: start;
}

.card {
    width: 80px;
    border-radius: .75rem;
    background-size: cover;
    cursor: pointer;
    overflow: hidden;
    border-radius: 2rem;
    margin: 0 10px;
    display: flex;
    align-items: flex-end;
    transition: .6s cubic-bezier(.28,-0.03,0,.99);
    box-shadow: 0px 10px 30px 2px rgba(47,4,171,0.8);
}

.card > .row {
    color: white;
    display: flex;
    flex-wrap: nowrap;
    background-color: rgba(47,4,171,0.8);
}

.card > .row > .icon {
    background: #ff3e7e;
    color: white;
    border-radius: 50%;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px;
}

.card > .row > .description {
    display: flex;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
    height: 80px;
    width: 520px;
    opacity: 0;
    transform: translateY(30px);
    transition-delay: .3s;
    transition: all .3s ease;
}

.description p {
    color: #b0b0ba;
    line-height: 1.5em;
    color: #C4C5DE;
}

.description h4 {
    text-transform: uppercase;
    color: white;
}

input {
    display: none;
}

input:checked + label {
    width: 600px;
}

input:checked + label .description {
    opacity: 1 !important;
    transform: translateY(0) !important;
}

.card[for="c1"] {
    background-image: url('resources/project1.png');
}
.card[for="c2"] {
    background-image: url('resources/project2.png');
}
.card[for="c3"] {
    background-image: url('./img3.png');
}
.card[for="c4"] {
    background-image: url('./img4.png');
}

.content6 {
    display: flex;
    width: 100%;
}

.contact {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #0E0036;
}

.contact1 {
    width: 30%;
}

.contact1 .text-contact {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.contact1 .text-contact h2 {
    text-align: center;
    font-size: 40px;
    color: #ededed;
    line-height: 2em;
}

.text-contact h2 span {
    color: #ff3e7e;
}

.contact2 {
    width: 70%;
}

.contact-text {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
}


.contact-text h4 {
    font-size: 25px;
    color: #D3D9F0;
    line-height: 1em;
}

.contact-text p {
    margin-top: 1rem;
    width: 90%;
}

.contact-list {
    color: #C4C5DE;
    margin-bottom: 2rem;
}

.contact-list li{
    list-style-type:none;
    cursor: pointer;
    color: #D3D9F0;
}

.contact-list li:hover {
    color: #ff3e7e;
}

.contact-list i {
    color: #ff3e7e;
    line-height: 2em;
}

.contact-list li a {
    text-decoration: none;
    color: #C4C5DE;
}

.contact-list li a:hover{
    text-decoration: none;
    color: #ff3e7e;
}


.contact-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.contact-icons a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 35px;
    background: transparent;
    border: 2px solid #ff3e7e;
    border-radius: 50%;
    font-size: 18px;
    color: #ff3e7e;
    text-decoration: none;
    margin-bottom: 2rem;
}

.contact-icons a:hover {
    background: #ff3e7e;
    color: #0B0640;
    box-shadow: 0 0 20px #ff3e7e;
}